<h1>ブックマーク一覧</h1>

<%= link_to '新しいブックマークを追加', new_bookmark_path, class: 'btn btn-success mb-3' %>

<div class="row">
  <% @bookmarks.each do |bookmark| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">タイトル:<%= bookmark.title %></h5>
          <h5 class="card-url">URL:<%= bookmark.url %></h5>
          <p class="card-text">メモ:<%= bookmark.note %></p>
          <a href="<%= bookmark.url %>" class="btn btn-primary" target="_blank">開く</a>
          
          <%= link_to '編集', edit_bookmark_path(bookmark), class: 'btn btn-secondary' %>

          <%= link_to '削除', "/bookmarks/#{bookmark.id}", data: {turbo_method: :delete} %>
        </div>
      </div>
    </div>
  <% end %>
</div>